lab3/config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="login"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:string" name="TargetDirectory"/>
        <xs:element type="xs:string" name="SourceDirectory"/>
        <xs:element type="xs:string" name="ArchiveDirectory"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>